/* //カラーパレット */
:root {
  --main-beige: #F7F1DE;
  --main-amber: #B87C4C;
  --main-green: #A8BBA3;
  --main-dark-green: #6B8E23;
  --main-gray: #696969;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #696969;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
